* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: #4477CE;
    min-height: 100vh;
    min-height: 100dvh;
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    width: 80%;
    max-width: 40rem;
    margin-top: 2rem;
}

main h1, main h2 {
    color: #EEE;
}

main .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}